body{
    background-color:#DCDCDC;
}
.header {
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: #ea7070;
    text-shadow: 7px -4px 1px #4dbedf,
    -7px 4px 1px #f8c77c;
    
    
}


.grid-generator{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: -20px;
    
}

#btn{
    margin-right: 50px;
    font-style: oblique;
    background: snow;
    color: black;
    height: 30px;
    border-radius: 10px;
    font-style: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px lightgray;
}

#btn2{
    font-style: oblique;
    background: snow;
    color: black;
    height: 30px;
    border-radius: 10px;
    font-style: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px lightgray;
}

button:hover {
    cursor: pointer;
}

.grid-center{
    display: flex;
    justify-content: center;
}
.grid-container{
    height: 550px;
    width: 550px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
}

.grid-row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.grid-box{
    border-style: solid;
    border-color: black;
    display: flex;
    flex: 1;
    border-width: thin;
}

.grid-box-draw{
    background-color: black;
}